/*--
Colour Variables
--*/
:root {
    --accent-colour: #EEE5E9;
    --background-colour : white ;
    --focus-colour : #69995D;
    --primary-colour: #020202;
    --text-colour: #333333;
}

/*
Overall Styling
*/
html, body, div, span, applet, object,ki
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    border-style: solid;
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: Lora, 'Times New Roman', Times, serif;
}

body{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    max-width: 50vw;
    font-size: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

h1 {
    color: var(--focus-colour);
    font-size: 150%;
    font-weight: 500;
    line-height: 95%;
    margin-bottom: 1vh;
}

h2 {
    line-height: 75%;
    font-size: 90%;
    font-weight: 500;
    margin-bottom: 0.5vh;
}

h3 {
    color: var(--focus-colour);
    font-size: 70%;
    font-weight: 600;
}

h4 {
    font-size: 50%;
    font-weight: 500;
}

p{
    font-size: 60%;
}



a {
    color: var(--focus-colour);
    font-weight: 600;
}

strong{
    color: var(--focus-colour);
    font-weight: 500;
}

hr {
    border: 1px solid var(--accent-colour);
    width: 30%;
}

ul {
    list-style-type: square;
    padding-left: 30px;
}

li{
    font-size: 60%;
}

/*
Header Styling
*/

#header {
    justify-content: space-between;
    border-bottom: 2px solid var(--primary-colour);
    margin-bottom: 1vh;
}


/* Article Styling */

.article-header {
    justify-content: space-between ;
}

.article-info{
    margin-top: 1vh;
    justify-content: space-between;
}

.article-images {
    justify-content: space-around;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.article-image {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border: 2px solid var(--focus-colour);
    border-radius: 10px;
}

.article-image-column {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border: 2px solid var(--focus-colour);
    border-radius: 10px;
}

.article-link {
    display: block;
    text-align: right;
}

/* Footer Styling */

#footer{
    justify-content: space-between;
    border-top: 2px solid var(--primary-colour);
    margin-top: 1vh;
}

.contact {
    margin-top: 1vh;
    display: block;
    text-align: center;
    margin-bottom: 1vh;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  body {
    max-width: 100vw;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

    .chatbot {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        border: 2px solid var(--focus-colour);
        border-radius: 10px;
    }

    .chatbot-images{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}

